input {
    width: 100%;    /* keep the input width as width as possible */
    border: 2px;
    border-color: black;
    border-style: solid;
    padding: 5px;
}

.postNowPosts {
    border: 2px;
    border-color: black;
    border-style: solid;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 5px;
    padding: 10px;
}

.feedTitle {
    margin-top: 15px;
}

.postNowAvatarImg {
    width: 80px;
    height: 80px;
}

.btn-margin {
    margin: 0px 2px;
}

.postDetailsAnchor {
    text-decoration: none;
    background-color: #6c757d;
    color: white;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    margin-left: 15px;
}

/*** Form ***/

.form-border {
    border: 5px;
    color: black;
}
.name, .message, .title {
    margin: 15px auto;
    padding: 0 15px;
}

#messagetextfield {
    height: 100px;
}

#messagetextarea {
    width: 100%;    /* keep the input width as width as possible */
    border: 2px;
    border-color: black;
    border-style: solid;
    padding: 5px;
}


